:root {
    --primary-color: rgb(15, 186, 129);
    --secondary-color: rgb(79, 70, 229);

    --border-color: rgb(73, 90, 143);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(44, 54, 86);
    color: white;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overscroll-behavior: none;
}

h1,
h2 {
    letter-spacing: 1.5px;
}

a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    color: black;

    border: 1px solid transparent;

    font-size: 1rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    outline: none;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.ringed {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
}

a,
button {
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:hover:not(:disabled) {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.96);
    }
}