html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(44, 54, 86);
    color: white;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overscroll-behavior: none;
}